body {
  font-family: 'Montserrat', 'Times New Roman', Times, serif;
  background-color: #f5f6fa;
}

.book-container {
  display: flex;
  flex-direction: column;
  padding: 1.681279vh 7.24vw 2.32128vh 7.32vh;
}

.input-container {
  display: flex;
  flex-direction: column;
  border-top: 2px solid #e8e8e8;
  padding-bottom: 20vh;
}

.input-h2 {
  font-size: 1.25rem;
  font-weight: bolder;
  letter-spacing: -0.18px;
  color: #888;
}

.input-form {
  display: flex;
  justify-content: space-between;
  gap: 2vw;
}

.input-title {
  width: 41.5rem;
  height: 1.5rem;
}

.input-category {
  width: 17.813rem;
  height: 1.9rem;
}

.input-button {
  width: 11.5rem;
  height: 1.9rem;
  border-radius: 3px;
  background-color: #0290ff;
  font-size: 0.813rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
  border-color: #0290ff;
}

.list-container {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding-left: 0;
}

.box {
  display: flex;
  justify-content: space-between;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  padding: 2vh 2vw;
}

.list-left-comp,
.list-right-comp {
  list-style: none;
}

.list-left-category {
  opacity: 0.5;
  font-size: 0.875rem;
  font-weight: bold;
  color: #121212;
}

/* .list-left-title,
.list-left-author,
.list-left-button,
.list-left-button2,
.list-right-comp,
.list-right-comp1 {
  font-family: Roboto Slab, Arial, sans-serif;
} */

.font-family {
  font-family: Roboto Slab, Arial, sans-serif;
}

.list-left-title {
  font-size: 1.375rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #121212;
}

.list-left-author {
  font-size: 0.875rem;
  font-weight: 300;
  color: #4386bf;
}

.list-left-buttons {
  display: flex;
  padding-top: 3vh;
}

.list-left-button,
.list-left-button2 {
  width: 4.563rem;
  height: 1.188rem;
  margin: 0;
  font-size: 0.875rem;
  font-weight: 300;
  color: #4386bf;
  padding-right: 1vw;
}

.list-left-button {
  padding-right: 1vw;
}

.list-left-button2 {
  padding-left: 1vw;
  border-left: 2px solid #e8e8e8;
}

.list-left-button-remove {
  border-top: none;
  border-bottom: none;
  border-right: none;
  padding: 0 1vw;
  background-color: white;
  color: #4386bf;
  border-color: #e8e8e8;
}

.list-right {
  display: flex;
  gap: 3vw;
  padding-right: 8vw;
}

.list-right-2 {
  border-left: 1px solid #e8e8e8;
  padding-left: 5vw;
}

.list-right-comp {
  opacity: 0.5;
  font-size: 0.813rem;
  font-weight: 300;
  color: #121212;
}

.list-right-comp1 {
  list-style: none;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: -0.4px;
  color: #121212;
}

.list-right-button {
  width: 8.938rem;
  height: 1.725rem;
  border-radius: 3px;
  background-color: #0290ff;
  border-color: #0290ff;
  color: #fff;
  margin-top: 2vh;
}

.list-right-1 {
  display: flex;
}

.oval-2 {
  width: 3.9rem;
  height: 3.9rem;
  margin-top: 1vh;
  border-style: solid;
  border-width: 5px;
  color: #379cf6;
  border-top-color: #ddd;
  border-image-slice: 1;
  border-radius: 50%;
}

.oval-3 {
  padding-right: 2vw;
}

.percentage {
  font-size: 2rem;
  color: #121212;
  margin: 0;
  padding-top: 2vh;
  padding-left: 2vw;
}

.completed {
  margin: 0;
  opacity: 0.5;
  font-size: 0.875rem;
  color: #121212;
  padding-left: 2vw;
}

.under {
  color: #0290ff;
  font-weight: 700;
}
